<%- include('partials/header.ejs') %>


    <div class="container">
        <h1 class="mb-4">Articles du blog</h1>
        <a href="/articles/new" class="btn btn-success">Nouvel article</a>

        <% articles.forEach(article => {%>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <div class="card-substitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= article.description %></div>
                    <a href="articles/<%= article.slug %>" class="btn btn-primary">Lire plus..</a>
                    <a href="articles/edit/<%= article.id %>" class="btn btn-info">Modifier</a>
                    
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Supprimez</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

    <%- include('partials/footer.ejs') %>
